.containerr {
    background-color: #f2f2f2;
    padding: 200px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-img {
    width: 70vh;
    height: auto; 
    margin: auto;
    display: block;
  }
ion-toolbar {
    text-align: center;
}
  