
<ion-content>
  <ion-header>
    <ion-title>
    </ion-title>
  <ion-body>
    
    <ion-div class="containerr">
      <ion-img src="../../assets/undraw_Login_re_4vu2.svg"></ion-img>
      <ion-h2 >Login com mídia social ou manualmente</ion-h2>
      <ion-input type="text" name="username" placeholder="Username" required>
      </ion-input>
      <ion-input type="password" name="password" placeholder="Password" required value="FakePSW" id="myInput">
      </ion-input>
      <ion-button href="https://fir-ui-demo-84a6c.firebaseapp.com/">Login</ion-button>
      <ion-button block color="light">
        Criar conta
      </ion-button>

      <ion-p text-center>Ou</ion-p>
      <ion-button block color="light">
        Entrar com e-mail e senha
      </ion-button>

      <ion-button block icon-left color="danger" margin-top >
        <ion-icon name="logo-google"></ion-icon>
        Entrar com o Google
      </ion-button>

      <ion-button class="fb btn" block icon-left margin-top>
        <ion-icon name="logo-facebook"></ion-icon>
        Entrar com o Facebook
      </ion-button>

      <ion-button block icon-left margin-top >
        <ion-icon name="logo-twitter"></ion-icon>
        Entrar com o Twitter
      </ion-button>
    </ion-div>
  </ion-body>
</ion-header>
