.container {
    background-color: #f2f2f2;
}
.containerr {
    background-color:  #f2f2f2;
}

.containerrr {
    text-align: center;
}

ion-img {
    width: 70vh;
    height: auto; 
    margin: auto;
    display: block;
  }
  