
<ion-header class="containerrr">
  <ion-toolbar color="primary">
    <ion-title>Poder do Real</ion-title>
  </ion-toolbar>
  <ion-img src="../../assets/undraw_investment_data_yfvt.svg"></ion-img>

</ion-header>
<ion-button icon-left color="danger">
  <ion-icon name="cash"></ion-icon>
  USD/BRL:1 Dólar americano igual a
  5,03 Real brasileiro
</ion-button>
<ion-button icon-left color="danger">
  <ion-icon name="cash"></ion-icon>
  CAD/BRL:1 Dólar canadense igual a
  3,95 Real brasileiro  
</ion-button>
<ion-button icon-left color="danger">
  <ion-icon name="cash"></ion-icon>
  EUR/BRL:1 Euro igual a
  6,11 Real brasileiro 
</ion-button>

<ion-content padding >
  <div class="container">
    <div class="message">
    </div>


    <ion-list class="containerr"> 


        <ion-item>
            <ion-label stacked>Exibir código de moeda</ion-label>
            <ion-input [(ngModel)]="displayCurrency" placeholder="(ex: USD, CAD, AUD, BRL)" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Quantidade de retenção</ion-label>
            <ion-input [(ngModel)]="amountHolding" type="number"></ion-input>
        </ion-item>

    </ion-list>   
    <p class="error-message" *ngIf="cryptoUnavailable">Sorry, that combination is not currently available. Make sure to only include a single code.</p>
  </div>
</ion-content>


<ion-content>
</ion-content>
