
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{climaCidade.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-h1>Previsao</ion-h1>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let previsao of previsaoList">
      <ion-thumbnail item-left>
        
        <img src="http://openweathermap.org/img/w/{{previsao.weather[0].icon}}.png" alt="">
      </ion-thumbnail>
      <h2 style="text-transform: capitalize;">{{previsao.dt * 1000 | date: 'dd/MM/yyyy'}} {{previsao.dt * 1000 | date: 'EEEE'}}</h2>
      <h3>Mínima: {{previsao.temp.min | temperatura: 'C'}}</h3>
      <h3>Máxima: {{previsao.temp.max | temperatura: 'C'}}</h3>
    </ion-item>
  </ion-list>
</ion-content>